<style>

table.propList td {
    font-size: 13px;
	color: #333333;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;	
	border-width: 0;
	padding: 0 5px;
}

table.propList td:nth-child(1) { width: 100px; color: #0088cc; }
table.propList td:nth-child(2) { width: 200px; color: #880000; }

table.propList {
	width: 100%;
    background-color: #F5F5F5;
    margin: 0 0 10px;
    padding: 9.5px;
	border-radius: 4px;
}

.modal-backdrop.in { opacity: 0.1; }
label.radio { display: inline-block; }
</style>
	
<ul class="breadcrumb">
	<li><a href="#home">Home</a> <span class="divider">/</span></li>
	<li><a href="#apis">APIs</a> <span class="divider">/</span></li>
	<li class="active">{{api.name}}</li>
</ul>

<h2>Models for {{api.name}}</h2>

<div class="alert alert-info fade in">
<button type="button" class="close" data-dismiss="alert">×</button>
<p>Uma <b>API</b> representa um agrupamento de Resources, normalmente visando uma organização que reflete as necessidades do negócio.</p>
</div>
	
<table class="table">
	<thead><tr><th>Model Name</th><th>Properties</th><th></th></tr></thead>
	<tbody>
		<tr ng-repeat="(id,model) in api.models">
			<td><a>{{id}}</a></td>
			<td>
				<table class="propList">
					<tr ng-repeat="(propName,propDef) in model.properties">
						<td><a ng-click="editProp(propDef)" class='prop-label'>{{propName}}</a></td>
						<td>: {{propDef.type}}<span ng-show="containers.indexOf(propDef.type) != -1">&lt;{{propDef.innerType}}&gt;</span></td>
						<td>{{propDef.description}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr><td></td><td colspan="4">
			<button type="button" class="btn" >New Resource...</button>
		</td></tr>
	</tbody>			 
</table>

<div class="form-actions">
	<button class="btn btn-primary">Save</button>
</div>
		

<div id="popProperty" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Property</h3>
  </div>
  <div class="modal-body">
    <form>
		
    	<label>Name:</label>
		<input type="text" ng-model="selectedProp.name"/>
		
		<label>Description:</label>
		<input type="text" ng-model="selectedProp.description"/>
		
		<div class="row-fluid">
		<div class="span6">
			<label>Type:</label>
			<select class="span12" ng-model="selectedProp.type">
				<optgroup label="Primitives">
					<option ng-repeat="t in primitives">{{t}}</option>
				</optgroup>
				<optgroup label="Complex Types">
					<option ng-repeat="(id,def) in api.models">{{id}}</option>
				</optgroup>
				<optgroup label="Containers">
					<option ng-repeat="t in containers">{{t}}</option>
				</optgroup>
			</select>
		</div>
		<div class="span6" ng-show="containers.indexOf(selectedProp.type) != -1">
			<label>Inner Type:</label>
			<select class="span12" ng-model="selectedProp.innerType">
				<optgroup label="Primitives">
					<option ng-repeat="t in primitives">{{t}}</option>
				</optgroup>
				<optgroup label="Complex Types">
					<option ng-repeat="(id,def) in api.models">{{id}}</option>
				</optgroup>
			</select>
		</div>
		</div>
		
		<!--
		<div>
			<label class="radio">
				<input type="radio" name="optionsRadios" value="primitive" ng-bind="selectedProp.valueType">
				Primitive:
			</label>
			<select class="span4" ng-model="selectedProp.type" ng-options="t for t in primitives"></select>
		</div>

		<div>
			<label class="radio">
				<input type="radio" name="optionsRadios" value="complex" ng-bind="selectedProp.valueType">
				Complex Type:
			</label>
			<select class="span4" ng-model="selectedProp.type" ng-options="id for (id,def) in api.models"></select>
		</div>

		<div>
			<label class="radio">
				<input type="radio" name="optionsRadios" value="container" ng-bind="selectedProp.valueType">
				Container:
			</label>
			<select class="span4" ng-model="selectedProp.type" ng-options="c for c in containers"></select>
			of
			<select class="span4" ng-model="selectedProp.type" ng-options="t for t in primitives"></select>
		</div>
		-->
    
		<p>All changes saved automatically.</p>
    </form>
  </div>
  <!--
  <div class="modal-footer">
	<button type="button" class="btn" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="addRule()">Save changes</a>
  </div>
  -->
</div>


<script>
$(function() {

	$("table.table tbody").sortable({
		handle: 'td:first', 
		helper: function(e, tr) {
			var $originals = tr.children();
			var $helper = tr.clone();
			$helper.children().each(function(index) {
				// Set helper cell sizes to match the original sizes
				$(this).width($originals.eq(index).width())
			});
			return $helper;
  		}}).disableSelection();
  		
  	$("#btnNewRule").click(function() { $("#popRule").modal("show"); });
  	
  	$("i.icon-info-sign").tooltip();
});
</script>
