<style>
.stats-table tr td:nth-child(1) { font-family: "Courier New"; font-size: 8pt; }
.stats-table tr td:nth-child(2) { text-align: center; }
.stats-table th { font-size: 10pt; text-align: center; }
</style>
          <div class="hero-unit">
            <h1>Bem-vindo!</h1>
            <p>Este é o portal de gerenciamento de APIs.</p>
            <p>Use os links no topo da página para gerenciar políticas, chaves, e ver relatórios.</p>
          </div>
          <div class="row-fluid">
          
            <div class="span4">
              <h2>Políticas</h2>
              <table class="table table-condensed table-border">
              	<thead><tr><th>Política</th><th>Consumer Keys</th></tr></thead>
              	<tr ng-repeat="item in policyStats">
              		<td>{{item.name}}</td>
              		<td>{{item.count}}</td>
              	</tr>
              </table>
              <p><a class="btn" href="#policies">Mais &raquo;</a></p>
            </div><!--/span-->
            
            <div class="span4">
              <h2>Top Consumers</h2>
              <table class="stats-table table table-condensed table-border">
              	<thead><tr><th>Consumer</th><th>Chamadas<br/>(últimos 5 dias)</th></tr></thead>
              	<tr ng-repeat="item in topconsumers">
              		<td>{{item.name}}</td>
              		<td>{{item.count}}</td>
              	</tr>
              </table>
              <p><a class="btn" href="#reports/topConsumers">Mais &raquo;</a></p>
            </div><!--/span-->
            
            <div class="span4">
              <h2>Top URLs</h2>
              <table class="stats-table table table-condensed table-border">
              	<thead><tr><th>Path</th><th>Chamadas<br/>(últimos 5 dias)</th></tr></thead>
              	<tr ng-repeat="item in topurls">
              		<td>{{item.path}}</td>
              		<td>{{item.count}}</td>
              	</tr>
              </table>
              <p><a class="btn" href="#reports/topURIs">Mais &raquo;</a></p>
            </div><!--/span-->
            
          </div><!--/row-->
